{% extends 'base.html.twig' %}

{% block title %}Edit Fermier{% endblock %}

{% block body %}
    <h1>Edit Fermier</h1>

    {{ include('fermier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fermier_index') }}">back to list</a>

    {{ include('fermier/_delete_form.html.twig') }}
{% endblock %}
