{% extends 'baseclient.html.twig' %}

{% block title %}Reset your password{% endblock %}





{% block body %}

<style>
    /*------------ Login container ------------*/
.box-area{
  width: 1332px;
  height: 595px;
}
/*------------ Right box ------------*/
.right-box{
  padding: 90px 50px 90px 50px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
  font-size: 16px;
}
.rounded-4{
  border-radius: 20px;
}
.rounded-5{
  border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
   .box-area{
      margin: 0 10px;
   }
   .left-box{
      height: 100px;
      overflow: hidden;
   }
   .right-box{
      padding: 20px;
   }
}

.input-group .btn {
position: relative;
z-index: 2;
height: auto;}

#left-content{
background: #000000;
background: url('/images/logo sans back.png');
background-size: cover;
background-repeat: no-repeat;

}

#logo{
/*background: linear-gradient(to right, #014512,#00fe11,#014512); */
background: #ff8a00;
background-clip: text;
-webkit-text-fill-color: transparent;
}
a{
text-decoration: none;
}
.btn-success{
    background: #ff8a00;
}
</style>


        
        
        
        <!-- Section droite : Formulaire d'inscription -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                
                <!-- Titre de la page -->
                <div class="header-text mb-4 text-center">
                    <h1 id="logo"><b>Reset Password</b></h1>
                </div>
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
<form method="post">
    {{ form_start(requestForm) }}
    <div class="input-group mb-1">
        {{ form_widget(requestForm.email, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Email'} }) }}
    </div>    
        <div class="mb-3">
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-lg btn-warning w-100 fs-6 text-light">Send password reset email</button>
    {{ form_end(requestForm) }}
    </form>
    </div> 
    </div>

{% endblock %}
