{% extends 'base.html.twig' %}

{% block title %}Reservation Success{% endblock %}

{% block body %}
<h1>Reservation Successful!</h1>
<p>Your reservation has been made successfully.</p>

{% if qrCodePath %}
    <h2>Your QR Code:</h2>
    <img src="{{ qrCodePath }}" alt="QR Code">
{% endif %}

<a href="{{ path('app_reservation_new') }}">Make another reservation</a>
{% endblock %}
