{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}

    {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning" href="{{ path('app_customer_index') }}"> <i class="bx bx-arrow-back"></i> back to list</a>

{% endblock %}
